.slider__pager {
  display: inline-block;
}
.slider__pager .pager__dot:first-child {
  margin-left: 0;
}
.slider__pager .pager__dot:last-child {
  margin-right: 0;
}

.pager__dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 0 3px;
  border: 0;
  border-radius: 50%;
  background: grey;
}
.pager__dot--active {
  background: black;
}